<h1> Lista de tarefas</h1>

<ul>
  <!--*ngFor="" - Para executar uma iteração, ou seja um loop, para fazer uma iteração entre todos os todos
      colocamos no componenet.ts
      "let todo of todos" - foi criado uma nova variavel chamada todo e vou percorrer a lista todos-->
  <li *ngFor="let todo of todos">
    {{todo.title}}<!--Para escrever uma strinf, formato de testo na tela-->
    <button (click)="removeTodo(todo)" style="color: crimson;">Remover!</button>
  </li>
</ul>

<!-- FOrmulario no html para ligar com o form do typescript , componet.ts-->
<form [formGroup]="form">
  <input type="text" formControlName="title"><!--Para ligar com o form do TS-->
  <button (click)="addTodo()">Adicionar</button><!-- Evento click para mandar uma info do html pro javascript-->
</form>